@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import "tailwindcss";
@source "../components";

@font-face {
  font-family: 'Bristol';
  src: url('../fonts/Bristol-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-sage: #85896B;
  --color-sage-dark: #6f7457;
  --color-cream: #f6eee3;
  --color-cream-light: #FDF4EB;

  --color-background: var(--color-sage);
  --color-foreground: var(--color-cream);

  --font-serif: 'Bristol', cursive;
  --font-sans: 'Caveat', cursive;
  --font-bristol: 'Bristol', cursive;
  --font-caveat: 'Caveat', cursive;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

/* Custom rounded corners pill with a solid shadow effect */
@layer utilities {
  .pill-shadow {
    box-shadow: 4px 4px 0px 0px var(--color-sage-dark);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .pill-shadow:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px 0px var(--color-sage-dark);
  }
}